html{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    padding: 0;
    margin: 0;
    border: 0;
}
.container{
	font-family: Arial, sans-serif;
	max-width:1000px;
	min-width:400px;
	width:100%;
	margin-left:auto;
	margin-right:auto;
    margin-top: 12%;
}

.header{
	//float:left;
	width:100%;
    height: 2em;
	background-color: rgba(3, 3, 3, 0.5); //#333;
    //opacity: 0.5;
	padding:5px 20px 5px 20px;
	box-sizing:border-box;
    z-index: 1000;
}
.header>.email{
	float:left;
	font-size:0.8em;
	color:white;
	width:25%;
}
.header>.selection{
	float:left;
	width:50%;
	text-align:center;
	margin-right:auto;
	margin-left:auto;
}
.header>.selection>button{
	width:25%;
	min-width:67px;
    background-color: #AAA;
}
.header>.logout{
	float:left;
	width:25%;
	text-align:right;
}
.header>.logout>button{
	width:50%;
	min-width:67px;
    background-color: #AAA;
}

.title{
	//float:left;
	text-align:center;
	width:100%;
    height: 25%;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    background-image: url("../img/vuzix_girl_header.png");
    background-size: cover;
    min-height: 140px;

}

.content{
	//float:left;
//    min-width: 400px;
//    max-width: 1000px;
	width:100%;
	min-height:300px;
	background-color: #FFF; //#eee;
    margin: 0 auto;
	box-sizing:border-box;
	padding: 20px 20px 20px 20px;
}

.blacklist{
	width:95%;
    min-height: 300px;
    box-sizing:border-box;
	margin-left:auto;
	margin-right:auto;
}
.blacklist h3{
	margin-top:10px;
	margin-bottom:10px;
}
.blacklist>.filter{
	float:left;
	width:25%;
	min-width:170px;
	//height:100%;
	box-sizing:border-box;
}
.blacklist>.filter .list_filter{
	background-color:#fff;
	width:75%;
	min-width:150px;
	padding-left:5px;
	list-style:none;
}

.blacklist>.search{
	//float:left;
	width:75%;
    min-height: 300px;
	padding-left:20px;
	box-sizing:border-box;
	display: inline-block;
	border-left:2px solid #000;
}
.blacklist>.search .list_result{
	list-style:none;
}
.blacklist>.search>.div_input h3{
	//float:left;
	width:20%;
	display:inline;
}
.blacklist>.search>.div_input>input{
	//float:left;
	width:79%;
	margin-top:10px;
	margin-bottom:10px;
	display:inline;
}
.blacklist>.search>.div_result{
	//float:left;
	width:100%;
	background-color:#fff;
	border-radius:3px;
}

.profile{
	display:none;
	width:95%;
	margin-left:auto;
	margin-right:auto;
}
.profile h3{
	margin-top:10px;
	margin-bottom:10px;
}
.profile>.profile_conf{
	float:left;
	width:100%;
	min-width:170px;
	padding-top:20px;
	padding-bottom:20px;
}
.profile>.profile_conf .table_profile_conf{
	margin-left:auto;
	margin-right:auto;
	border-spacing:10px;
}
.profile>.profile_conf .input{
	float:left;
	display:inline;
	padding:20px 20px 20px 20px;
}
.profile>.device_conf{
	float:left;
	width:100%;
	box-sizing:border-box;
	padding-bottom:20px;
	display:inline;
}
.profile>.device_conf>#button_new_device{
	display:block;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	width:120px;
}
.profile>.device_conf>.table_devices{
	text-align:left;
	background-color:#fff;
	width:60%;
	margin-left:auto;
	margin-right:auto;
	border-radius:3px;
}
.profile>.device_conf>.table_devices td{
	text-align:right;
}
.profile>.div_new_device{
	display:none;
}
.profile>.div_new_device>.controls{
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	width:50%;
	text-align:center;
}
.profile>.div_new_device>#div_barcode{
	margin-left:auto;
	margin-right:auto;
	width:200px;
}
#img_barcode{
	margin-left:auto;
	margin-right:auto;
	width:200px;
}

.impressum{
	display:none;
}

.privacy{
	display:none;
}

.footer{
	float:left;
	width:100%;
	background-color:#333;
	margin-bottom:0px;
	color:black;
	padding: 5px 0px 5px 0px;
}
.footer button{
	float:right;
	margin-right:5px;
}

button{
    background-color: #333;
    color: #FFF;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}
.button_text{
	width:25%;
	min-width:80px;
}

@media (max-width: 772px) { 

	.blacklist>.search{
		border-left-width:0px;
		padding-left:0px;
		padding-top:20px;
	}
}

footer {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    color: #FFF;
    background-color: #333;
    padding: 20px 10px 50px 10px;
}
footer h2 {
    font-size: 22px;
}
footer .footer_content {
    font-size: 15px;
}
footer .footer_content a {
    margin: 10px;
    color: #FFF;
    text-decoration: none;
}
footer svg {
    width: 60px;
    height: 50px;
    fill: #FFF;
}

@font-face {
    font-family: 'quicksandregular';
    src: url('../font/quicksand-regular-webfont.eot');
    src: url('../font/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/quicksand-regular-webfont.woff2') format('woff2'),
    url('../font/quicksand-regular-webfont.woff') format('woff'),
    url('../font/quicksand-regular-webfont.ttf') format('truetype'),
    url('../font/quicksand-regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}